[Unit]
Description=Mini Display Manager
After=systemd-user-sessions.service seatd.service
Wants=seatd.service
Conflicts=getty@tty1.service
Before=getty@tty1.service
ConditionPathExists=/dev/tty1

[Service]
Type=simple
ExecStart=/usr/bin/minidm
Restart=always
RestartSec=1

TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty-force
StandardOutput=tty
StandardError=journal

User=root
CapabilityBoundingSet=CAP_DAC_OVERRIDE CAP_SETUID CAP_SETGID CAP_SETPCAP CAP_AUDIT_WRITE CAP_CHOWN

Environment=XDG_SEAT=seat0
Environment=XDG_VTNR=1
Environment=TERM=linux

[Install]
WantedBy=graphical.target
